/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-family: 'Trebuchet MS';
	font-size: 50px;
	color: #484848;
	margin: 25px 10px;
	display: block;
}

h2 {
	font-family: 'Trebuchet MS';
	font-size: 24px;
	color: #44a7ec;
	display: block;
}

h3 {
	font-family: 'Trebuchet MS';
	font-size: 20px;
	color: #44a7ec;
	display: block;
}

p {
	font-family: 'Arial';
	font-size: 12px;
	color: #999999;
	display: block;
	/*margin: 10px 0;*/
	line-height: 1.5;
}

ins {
	color: #44a7ec;
}

@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue', sans-serif;
    src: url(fonts/BebasNeue.otf);

    font-weight: normal;
    font-style: normal;
}

.header {
	height: 40px;
	background-color: #484848;
}

.header-nav {
	width: 80%;
	margin: 0 auto;
}

.top-navigation {
	width: 50%;
}

.top-navigation a {
	font-family: 'Arial';
	font-size: 11px;
	text-transform: uppercase;
	color: #919191;
	float: left;
	margin: 0 9px 0 0;
}

.top-navigation {
	margin-top: 15px;
	float: left;
}

.header-text {
	font-family: 'Arial';
	font-size: 11px;
	text-transform: uppercase;
	color: #919191;
	float: left;
	margin: 0 9px 0 0;
}

.top-navigation a:hover {
	color: #ffffff;
	cursor: pointer;
}

.login {
	float: right;
	margin-top: 9px;
}

.login-wrapper {
	display: inline;
}

.login  .header-text {
	margin-top: 6px;
}

/*.login-wrapper {
	display: inline-block;
	float: right;
}*/

.button-go {
	background-color: #ec4444;
	border-top: 1px solid #f27c7c;
	border-right: 1px solid #ec4444;
	border-bottom: 1px solid #343434;
	border-left: 1px solid #ec4444;
	border-radius: 5px;
	height: 23px;
	width: 35px;
}

.button-go:hover {
	background-color: #ec0000;
	border-top: 1px solid #f27c7c;
	border-right: 1px solid #ec4444;
	border-bottom: 1px solid #343434;
	border-left: 1px solid #ec4444;
	border-radius: 5px;
	height: 23px;
	width: 35px;
}

.button-text {
	font-family: 'Arial';
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}

.header-input {
	background-color: #373737;
	width: 90px;
	height: 20px;
	border-radius: 5px;
	border-top: 1px solid #2c2c2c;
	border-right: 1px solid #515151;
	border-bottom: 1px solid #515151;
	border-left: 1px solid #2c2c2c;
}


.header-input {
	font-family: 'Arial';
	font-size: 10px;
	padding-left: 10px;
}

input::-webkit-input-placeholder {
	color: #666666;
}

input:-moz-placeholder {
	color: #666666;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
	margin: 15px 0;
}

.main-menu {
	width: 100%;
	height: 40px;
	background-color: #e1e1e1;
	font-family: 'Arial';
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px white;
	border-radius: 1px;
}

.main-menu li {
	display: inline-block;
	border-right: #d3d3d3 solid 1px;
	border-left: #ededed solid 1px;
	padding: 14px;
	float: left;
}

.main-menu li:first-child {
	border-left: none;
}

.main-menu li:hover {
	background-color: #bababa;
}

.main-menu a {
	color: #484848;
}

.main-menu-input {
	background: #373737 url(images/search.png) no-repeat;
	width: 215px;
	height: 25px;
	border-radius: 5px;
	border-top: 1px solid #2c2c2c;
	border-right: 1px solid #515151;
	border-bottom: 1px solid #515151;
	border-left: 1px solid #2c2c2c;
	float: right;
	margin: 5px;
	position: relative;
	padding-left: 10px;
}

.banner {
	height: 380px;
	color: #cdcdcc;
	margin: 80px 0 0 15px;
}

.banner-title {
	font-family: 'Trebuchet MS';
	font-size: 80px;
	color: #ec4444;
}

.banner-text {
	font-family: 'Trebuchet MS';
	font-size: 16px;
	color: #999999;
	width: 50%;
	height: 190px;
	float: left;
}

.banner-text ul{
	margin-top: 25px;
}

.banner-text li{
	list-style-image: url(images/marker.png);
	margin: 5px 0 0 25px;
}

.banner-img {
	display: inline-block;
	float: right;
	vertical-align: top;
}

.appstore-img {
	display: block;
	padding: 50px 0;
}

.products {
	height: 260px;
	margin-bottom: 30px;
}

.product-box {
	width: 220px;
	height: 120px;
	display: inline-block;
	margin: 30px 8px 50px 8px;
	border: #ededed 1px solid;
	border-radius: 4px;
	padding: 10px;
	position: relative;
}

.product-box p {
	font-size: 11px;
	/*margin: 5px 0;*/
}

.product-box-text {
	margin-top: 15px;
}

.product-box-img-apple {
	position: absolute;
	margin: -80px 0 0 150px;
}

.product-box-img-blackberry {
	position: absolute;
	margin: -75px 0 0 135px;
}

.product-box-img-windows-phone {
	position: absolute;
	margin: -75px 0 0 180px;
}

.product-box-img-windowsPC {
	position: absolute;
	margin: -65px 0 0 100px;
}

.blog {
	height: 445px;
	display: block;
	margin-top: 20px;
}

.post {
	width: 50%;
	display: inline-block;
	float: left;	
}

.post-wrapper {
	margin: 10px;
}

.post-date {
	margin: 10px 0;
}

.post-banner {
	height: 140px;
	overflow: hidden;
}

.post-text {
	margin: 10px 0;
}

.about {
	
}

.about-wrapper {
	margin: 10px;
}

.about-us {
	width: 50%;
	display: inline-block;
	float: left;
}

.link {
	margin-top: 30px;
}

.twitter {
	width: 50%;
	display: inline-block;
	float: left;
}

.twitter a {
	display: block;
}

.feed-block {
	margin: 20px 10px;
}

.separator {
	clear: both;
	content: '';
	display: block;
}

.footer {
	height: 70px;
	background-color: #484848;
	display: block;
	margin-top: 20px;
}

.footer-wrapper {
	width: 80%;
	margin: 0 auto;
	
}

.footer-text {
	display: inline-block;
	float: left;
	padding-top: 30px;
}

.social-nav li {
	display: inline-block;
	float: right;
	padding: 20px 10px 0 10px;
}

.social-nav li:hover {
	opacity: 0.7;
	cursor: pointer;
}

.separator-border {
	clear: both;
	content: '';
	border-top: dashed 1px #cdcdcc;
	display: block;
}